.comment {
  margin-top: 9px;
  padding: 18px 0 3px;
}
.user {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  .userInfo {
    margin-left: 10px;
    span {
      font-size: 12px;
      color: #595959;
    }
  }
}
.userLink {
  display: flex;
  align-items: center;
}
.textComment {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 7px;
  padding-right: 85px;
}
.commentButtons {
  button {
    padding: 0 !important;
  }
  span {
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    margin-right: 16px;
  }
}