@import 'reset.scss';
@import 'fonts.scss';
@import 'variables.scss';

body {
  background-color: #F2F2F2;
}
#__next {
  height: 100%;
}
.content {
  padding-top: 30px;
  max-width: 640px;
  width: 100%;
  min-height: calc(100vh - 66px);
  margin: 0 auto;
  &.largeContent {
    max-width: 960px;
  }
  &.fullContent {
    padding-top: 0;
    max-width: 100vw;
  }
  &.maxContent {
    padding-top: 0;
    max-width: 1020px;
  }
}
.wrapper {
  display: flex;
  padding-top: 58px;
}
.textLink {
  color: #3766a9;
  border-bottom: 1px solid #bed0ea;
  cursor: pointer;
  &:hover {
    color: #cd192e;
    border-bottom: 1px solid #f6b4bc
  }
}
.textList {
  li {
    margin: 10px 0 10px 2em;
    position: relative;
    &:after {
      content: '•';
      font-size: 30px;
      position: absolute;
      top: 0;
      left: -20px;
    }
  }
}
.miniAva {
  width: 32px !important;
  height: 32px !important;
  border-radius: 50% !important;
}
.ce-block__content {
  max-width: 100%;
}
.ce-toolbar__plus {
  padding-right: 20px;
}